<div class="container py-12">
    <%= render @lesson_group %>

    <%= link_to "Back to lesson", lesson_path(@lesson_group.lesson), class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>

    <%= link_to 'Rich', new_rich_block_path(lesson_group_id: @lesson_group.id) %>
</div>