<div class="container mx-auto px-4 py-2 text-center">
  <h1 class="font-bold text-4xl">Admin Panel</h1>
  <% Lesson.all.each do |lesson| %>
    <%= lesson.title %>
    <br>
  <% end %>
</div>

<br>
<div class="py-2 container">

<% @user_text_answers.each do |u| %>
<div>
  <%= u.title %>
  <%= u.body %>
</div>
  <%= link_to 'Go', new_feedback_url(:user_text_answer_id => u.id) %>
<% end %>
</div>