<footer class="flex">
  <p class="font-medium">
    Made with ❤️ by <%= link_to 'Martin Arce', 'http://www.martin-arce.com', class: "text-neutral-900" %>. 
 
    &copy; 2022 Mambo Spanish.
  </p>
</footer> 