<footer class="text-brown-700 bg-brown-200 flex">
  <p class="font-medium">
    Made with ❤️ by <%= link_to 'Martin Arce', 'http://www.martin-arce.com', class: "text-brown-500" %>. 
 
    &copy; 2022 Mambo Spanish.
  </p>
</footer> 