    <div class="home container">
    <% if user_signed_in?  %>
        <div class="logged_in">
            <h1>Mambo Spanish</h1> 
            <h2>Great to you see here! Let's crash it!</h2><%= icon('fa-solid', 'hat-wizard')%>
        </div>
    <% else %>
    <div class="not_logged_in">
        <div class="left">
            <h1>Rock solid Spanish foundations</h1>
            <h5>The most challenging Spanish course for newcomers. Language learning isn't easy but well worth it!</h5>
            <%= link_to 'Register & Start now!', new_user_registration_path, class: "btn-primary" %>

            <%= get_course_btn(Product.last.id, "Buy it & start now!") %>
        </div>
        <div class="right">

        </div>
    </div>
    <% end %>
    </div>            