    <% if user_signed_in?  %> 

         <div class="container py-12 bg-emerald-200 rounded-3xl p-12 mt-20 shadow-lg flex flex-col gap-1">
                <h1 class="text-5xl text-center">Mambo Spanish</h1>
        </div>

    <% else %>
        <div class="container py-12 bg-emerald-200 rounded-3xl p-12 mt-20 shadow-lg flex flex-col gap-1">
                <h1 class="text-5xl">Rock solid Spanish foundations.</h1>
                <h2 class="text-xl mb-4 text-neutral-800">The most challenging Spanish course for newcomers. Language learning isn't easy but well worth it!</h2>
                <%= link_to 'Register & Start now!', new_user_registration_path, class: "btn bg-emerald-100 border-neutral-800 hover:bg-emerald-50" %>
                <%# <%= get_course_btn(Product.last.id, "Buy it & start now!") %>
        </div>
        <%= render partial: 'pricing' unless true %>
    <% end %>



