<div class="w-full bg-blue-200 flex justify-center p-24">
<h1>Ooops... This page doesn't exist... <%= link_to 'Go home', root_path, class: "bg-green-200 p-2 hover:bg-green-100 rounded-sm" %></h1>

</div>