<% dragActions = "  dragstart->drag#dragStart 
                    dragover->drag#dragOver
                    dragenter->drag#dragEnter
                    drop->drag#drop
                    dragend->drag#dragEnd" %>

    <%= content_tag :div,
        class: "icon draggable flex gap-2 items-center my-8 p-2 rounded-xl",
        draggable: true,
        data: {
            controller: "drag",
            action: dragActions,
            resource_id: lesson.id,
            url: "../drag/lesson",
            parent: "lessons"
        } do %>
        <%= image_tag 'icons/grab', class: "h-8 w-8 align-middle inline-block cursor-grab rounded-sm" %>  
        <h2><%= link_to lesson.title, lesson_path(lesson), class: "lesson_link no-underline" %></h2>
        <%= render 'lessons/admin/dropdown', lesson: lesson %>
    <% end %>
 