<div class="bg-white flex gap-2 items-center justify-center py-12 text-3xl shadow-sm mb-8">
    <div>
        <%= lesson.title %> 
    </div>
    <div>
        <%= lesson.description %> 
    </div>
    
<% if @lesson.image.attached? %>
  <div>
     <%= image_tag @lesson.image.variant(resize_to_limit: [100, nil]) %>
  </div>
<% end %>

</div>
