<div class='container'>
            <h1><%= lesson.title %></h1>
            <p><%= lesson.description %></p>
            <%= link_to 'Start Lesson', lesson_group_path(lesson.lesson_groups.first), class: "btn btn-1 text-slate-200 hover:opacity-80 no-underline" , data: {turbo_frame: "lesson_group_frame"}  %>
            </div>
