<div id="<%= dom_id lesson %>" class="pb-12">
  <% if current_user.admin? %>
    <%= render 'lessons/admin/lesson_groups', lesson_groups: @lesson_groups %>
  <% else %>
    <h1 class="inline-block"> 
      <%= group.title %>
    </h1>
  <% end %>
</div>