<div class="bg-slate-800 text-slate-200 p-4 fixed top-0 left-0 right-3/4 z-50 bottom-0 ranslate-x-full transition-all">
  <%= image_tag 'icons/checks/wrong11.svg', class:"w-8 block absolute right-8" %>
  <h3><%= lesson.title %></h3>
  <div>
    <% lesson.lesson_groups.each do |lesson_group| %>
      <%= lesson_group.title%>
    <% end %>
  </div>
</div>
