<h1>Lessons</h1>

<div id="lessons" class="container">
  <% @lessons.each do |lesson| %>
    <%= link_to lesson.title, lesson_path(lesson) %><br>
  <% end %>
</div>

<%= link_to "New lesson", new_lesson_path %>
