<div class="flex gap-2  bg-white rounded-full fixed bottom-8 right-8 items-center shadow-xl text-xl overflow-hidden">
    <%= controls_button('Previous', lesson_group) %>
    <div class="px-2 font-bold">
        <span><%= lesson_group.position %></span>
        /
        <span><%= total_lesson_groups %></span>
    </div>
    <%= controls_button('Next', lesson_group) %>
</div>