<div class="bg-orange-100 flex gap-2 items-center justify-center">
<div>
    <%= lesson.title %> 
</div>
<div>
    <%= lesson.description %> 
</div>
<div>
    <%= study_session.lesson_group.position %> /
    <%= lesson.lesson_groups.count %>
</div>
</div>