<div class="container">
    <h1><%= lesson_group.title %></h1>
    jod
    
    <%= button_to 'Next', {:controller => "study_session", :action => "update", :direction => "next" } , :method=>:patch  %>
</div>
