<div id="current_lesson_group" data-stream-enter-class="fadein" data-stream-exit-class="fadeout" class="min-h-[77vh]">
    <div class="container">
        <h1><%= lesson_group.title %></h1>
        <%= render partial: "lessons/default/controls", locals: {lesson_group: lesson_group} %>
    </div>
</div>
