<div class="relative inline-block">
    <%= image_tag 'new_mail.svg', class:"w-8" %>
    <span class="absolute -top-1 -right-2 bg-green-200 p-1 rounded-full text-xs font-bold w-4 h-4 flex justify-center items-center text-center">
        <%= user.feedbacks.where(seen: false).count %>
    </span>
</div>