  <div id="<%= dom_id multiple_open_block %>">
    <h3>
      <%= multiple_open_block.title %>
    </h3>

    <p class="my-5">
      <%= multiple_open_block.body %>
    </p> 
  </div>



<% if multiple_open_block.answered?(current_user) %>
  User has answers!
<% else %>
  <%= turbo_frame_tag 'multiple_open_answers', src: new_multiple_open_block_multiple_open_answer_path(multiple_open_block) %>
<% end %>


