<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">New multiple open block</h1>

  <%= render "form", multiple_open_block: @multiple_open_block %>

  <%= link_to 'Back to lesson', lesson_path(@multiple_open_block.lesson_block.lesson_id), class: "m-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
