<%= render @course %>

<br>

<%# Lessons  %>
<div id="lessons" class="container mb-10">
  <% @course.lessons.each do |lesson| %>
     <% if current_user.admin? %>


        <%= render 'lessons/draggable', lesson: lesson %>
   
        <% end %>       
 
  <% end %>
</div>
