<%= render @course %>

<br>

<%# Lessons  %>
<% if current_user.admin? %>
<div id="lessons" class="container mb-10">
  <% @course.lessons.each do |lesson| %>
      <%= render 'lessons/draggable', lesson: lesson %>
  <% end %>
      <hr>
      <%= link_to 'Add lesson to course', new_lesson_path(course_id: @course), class: "btn btn-1 mt-8" %>
  </div>
<% else %>
  <%= render partial: 'lessons_grid', locals: {lessons: @course.active_lessons} %>
<% end %>
