<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Editing multiple open answer</h1>

  <%= render "form", multiple_open_answer: @multiple_open_answer %>

  <%= link_to "Show this multiple open answer", @multiple_open_answer, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  <%= link_to "Back to multiple open answers", multiple_open_answers_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
