<div class="container">
    <h1>Faq</h1>
    <div class="faq-block">
    <h3>I'd like to learn some spanish while chilling on my sofa. Is this course for me?</h3>
    <p>Definitely not! MamboSpanish is the hardest course you can find. That's by design. Our course is not oriented for casual learners, but for highly motivated people who are willing to put in a big effort to acquire some real skills which will impact their life on a big scale.</p>
    </div>
</div>