@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'actiontext.css';

@layer base {
  @font-face { 
    font-family: 'Poppins';
        src: url("/assets/Poppins-Regular.ttf");
  }  
  h1 {
    @apply text-5xl;
  }

  h2 {
    @apply text-3xl;
  }

  h3 {
    @apply text-xl;
  }

  a {
    @apply text-black underline font-black hover:opacity-80;
  }
  footer a {
    @apply text-white;
  }
}
 
@layer components {
  input[type=submit]{
  }
  input[type=submit].basic {
   @apply bg-sky-200 px-1 py-2 rounded-sm shadow-sm  w-full cursor-pointer hover:bg-sky-100
  }

  .plan-btn {
    @apply font-medium text-sm inline-flex items-center justify-center px-3 py-2 border border-transparent rounded leading-5 shadow-sm transition duration-150 ease-in-out bg-indigo-500 focus:outline-none focus-visible:ring-2 hover:bg-indigo-600 text-white w-full
  }
  .btn {
    @apply px-6 py-3 block w-fit font-bold no-underline text-xl hover:bg-opacity-90 rounded border-2 border-transparent flex items-center justify-center
  }
  .btn-1 {
    @apply  
             leading-5
            transition duration-150 ease-in-out
            focus:outline-none focus-visible:ring-2
          text-white
          bg-emerald-500
  }
  .btn-2 {
    @apply 
            items-center justify-center
            leading-5
            transition duration-150 ease-in-out
            focus:outline-none focus-visible:ring-2
            text-emerald-600
            border-emerald-600
            bg-white
  }
  .btn-3 {
    @apply 
            items-center justify-center
            leading-5
            transition duration-150 ease-in-out
            focus:outline-none focus-visible:ring-2
            text-emerald-400
            hover:border-emerald-400
  }
  .btn-4 {
    @apply  
            items-center justify-center
            leading-5
            transition duration-150 ease-in-out
            focus:outline-none focus-visible:ring-2
            text-neutral-800
            hover:bg-neutral-200
            hover:border-neutral-300
            hover:text-neutral-900
  }
  .btn-back {
    @apply bg-gradient-to-l bg-cyan-600

  }
  input[type=submit].btn-answers {
    @apply border-indigo-600 w-1/2 mx-auto hover:bg-indigo-50 hover:cursor-pointer
  }
  input[type=submit].btn-answers:focus-visible {
    @apply border-none ring-offset-2 ring-offset-2 ring-2 focus:ring-offset-8
  }
}


.turbo-progress-bar {
  height: 2px;
  background: rgb(255, 79, 79);
  background: linear-gradient(146deg, rgba(255, 79, 79, 1) 0%, rgba(255, 187, 0, 1) 100%);
} 

.diagonal-box { 
      background-image: linear-gradient(45deg, #654ea3, #eaafc8);
          transform: skew( 0deg, -7deg);
          
}
.content { 
  transform: skew(0deg, 7deg);
  width: 100%;

}
.icon-small {
  width: 22px;
  height: 22px;
  display: block;
}
.hover-active {
  background-color: #eaafc8;
}
#lessons.active {
  background-color: rgba(250, 235, 215, 1);
  outline: 2px dashed goldenrod
}
iframe.youtube {
	width: 100%;
	max-width: 950px;
	margin: 0 auto;
	aspect-ratio: 16 / 9;
}
.red-filter {
filter: invert(26%) sepia(46%) saturate(5071%) hue-rotate(3deg) brightness(104%) contrast(87%);
}
