.devise {
  margin: 0 auto;
  max-width: 90%;
  @media only screen and (min-width: 500px) {
    max-width: 350px;
  }
  h2 {
    text-align: center;
  }
  .field {
    font-size: 14px;
  }
  .field:not(.checkbox) {
    label {
      width: 100%;
      display: inline-block;
    }
  }

  .links {
    display: flex;
    flex-wrap: wrap;
    font-weight: light;
    a {
      flex-basis: 100%;
      font-size: 14px;
    }
  }
}
